- var page = { title: "1/2 a px. - Procreate Brushes", subtitle: "custom made for ipadlettering", author: "Myriam Frisano", description: "a collection of custom procreate brushes, focusing on ipadlettering"}

include brushes.jade

doctype html
html(lang="de")
    include includes/head.jade

    body
        .container.large
            h1 Custom Procreate Lettering Brushes
            h2 
                p 
                    a(href="http://halfapx.com/en") go to halfapx.com home page
            p.social
                a(href="https://instagram.com/halfapx" )
                    i.fa.fa-lg.fa-instagram
                a(href="https://www.youtube.com/channel/UCyqTehIKsNFZF0plqhnqUPA" )
                    i.fa.fa-lg.fa-youtube
                a(href="https://twitter.com/halfapx" )
                    i.fa.fa-lg.fa-twitter
            p New to iPad Lettering? Check out my #[a(href="http://halfapx.com/en/ipad-lettering-101/" ) iPad Lettering 101] Blogpost.
            p #[a(href="http://halfapx.com/en/all-my-procreate-brushes/") Instructions on how to Download]
            p Tap the image to enlarge. Use the filters below to help with finding what you are looking for.
            p
            .filters
                span.btn.filter(data-filter="all") Show All
                span.btn.filter(data-filter=".premium") Premium
                span.btn.filter(data-filter=".free") Free
                span.btn.filter(data-filter=".classic") Classic
                span.btn.filter(data-filter=".textured") Textured
                span.btn.filter(data-filter=".special") Special
                span.btn.filter(data-filter=".favorite") My Favorites
                span.btn.filter(data-filter=".essential") Essentials
            .box#mixitup
                each brush in brushes 
                    .mix(class="#{brush.cat.join(' ')}")
                        a(href="img/#{brush.img}.jpg" data-imagelightbox="f")
                            img(src="img/#{brush.img}.jpg" alt="#{brush.img}")
                        a.btn(href="#{brush.url}") #[i.fa.fa-download] Download
            footer
                p © content by 1/2 a px. · 2016 
            
        script(src="js/scripts.min.js")
        
        | <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-64184849-1', 'auto');ga('send', 'pageview');</script>
    // body end
// html end
